@charset "UTF-8";

body {
	font-family: Arial;
	margin: 0;
	background-color: #eaeaea;
}
		
	#picture {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
	}	
	
	
	#textboxBottom {
		position: absolute;
		width: 80%;    
	  	font-size: 14px;
	  	bottom: 100px;
	  	left: 0;
	  	right: 0;
	  	margin: auto;
	   padding: 10px 10px;
	   text-align: center;  
	   background: rgba(255,255,255,0.7);
	}	
	
	#textboxTop {
		position: absolute;
		width: 80%;    
	  	font-size: 14px;
	  	top: 50px;
	  	left: 0;
	  	right: 0;
	  	margin: auto;
	   padding: 10px 10px;
	   text-align: center;  
	   background: rgba(255,255,255,0.7);
	}	
	
/*	#thinkbubble {
		position: absolute;   
	  	font-size: 14px;
	  	width: 90%;
	  	bottom: 80px;
	  	left: 0;
	  	right: 0;
	  	margin: auto;
	   padding: 10px 10px;
	   text-align: center;  
	} */
	
	#arrowRight {
		background-color: transparent;
		position: absolute;
		right: 0;
		bottom: 200px;
	}	
	
	#arrowLeft {
		background-color: transparent;
		position: absolute;
		left: 0;
		bottom: 200px;
	}		


	.stories img {
	    width: 48%;
	    float: left;
	    margin: 3px;
	}
	
	.story_pictures {
	    width: 100%;
	}

	#pictureglossary {
		float: left;	
		width: 30%;
	}

	#pictureglossary img {
		width: 100%;
	}

	#header {
		float: left;
		width:68%;	
	}

	#bildcontainer {
		text-align: center;
	}

	#kasten {
		font-weight: bolder;
		width: 95%;
		border: 0.3px dotted;
		-moz-border: 0.3px dotted;
		-webkit-border: 0.3px dotted;
		text-decoration: none;
		color: #000000;
		margin-right: 16px;
		padding-top: 11px;
		padding-bottom: 12px;
		background: url(../images/icons/pfeil_rechts2.png) no-repeat right;
		font-size: 14px;
	}
	
	#akkordeon {
	   width: 100%;
	    overflow: hidden; 
	 }
	 
	#akkordeon a {
		text-decoration: none;
	}
	
	#akkordeon h2 {
	   font-size: 14px;
	   color: #000000;
	   background: url(../images/icons/pfeil_unten2.png) no-repeat right; 
	}
	 
	#akkordeon h3 {
		padding-left: 20px;
	   font-size: 14px;	
	   background: url(../images/icons/pfeil_unten2.png) no-repeat right; 
	} 
	
	.thema {
	   width: 100%;
	   cursor: pointer;
	   background-color: #f3974c;  
	   padding-right: 20px;
	   border: 0.2px dotted #000000;
	   -moz-border: 0.2px dotted #000000;
	   -webkit-border: 0.2px dotted #000000;
	   transition: all .2s ease-in-out; 
	}
	
	#akkordeon .inhalt {
	   width: 100%;  
	   font-size: 13px;
	   display: none;
	   background-color: #efefee;
	   padding: 10px;
	   overflow: hidden; 
	}
	
	#akkordeon .open { 
		background-color: #f3974c;
	}
	
	#akkordeon .open h2 {
	   background: url(../images/icons/pfeil_oben2.png) no-repeat right; 
	}
	
	#akkordeon .open h3 {
	   background: url(../images/icons/pfeil_oben2.png) no-repeat right; 	
	}

footer {
    font-size: 11px;
    text-align: center;
    position: fixed;
    background-color: #408dd2;
    bottom: 0;
    right: 0;
    left: 0;
    clear: right;
}

    footer a {
        text-decoration: none;
    }

    footer img {
        width: 60px;
        padding-bottom: 4px;
        padding-top: 4px;
    }

        .navi {
            float: left;
            width: 40%;
            background-color: #408dd2;
            color: white;
        }
    
    	  .navi:hover {
    	  		background-color: #346ea3;
    	  }

        .aktuell {
            float: left;
            width: 40%;
            background-color: #346ea3;
            color: white;
        }

				.dropbtn {
				    border: none;
				    cursor: pointer;
				    width: 60%;
				    background-color: #408dd2;
				}
				
				
				.dropbtn:hover, .dropbtn:focus {
				    background-color: #346ea3;
				}
				
				.dropdown {
				    position: relative;
				    display: inline-block;
				    float: left;
					 width: 20%;
					 background-color: #408dd2;
				}
				
				.dropdown:hover {
					background-color: #346ea3;
				}
				
				
				.dropdown-content {
				    display: none;
				    position: absolute;
				    bottom: 60px;
				    right: 0;
				    background-color: #ffffff;
				    color: #000000;
				    min-width: 160px;
				    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
				}
				
				
				.dropdown-content a {
				    color: black;
				    padding: 12px 16px;
				    text-decoration: none;
				    display: block;
				}
				
				
				.dropdown-content a:hover {text-decoration: underline;}
				
				
				.show {display:block;}

@media screen and(min-width: 768px) {
	aside {
	-webkit-column-count: 2;
	-webkit-column-gap: 15px;
	-webkit-column-rule: dotted 1px #555;
	}
}
